table {
  width: 40%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #c0c0c0;
}
table,
th,
td {
  border: solid 1px #808080;
}
.tableButton {
  width: 100%;
  margin: auto;
  background-color: #040464;
  border-radius: 4px;
  border: solid;
  border-color: #040464;
  color: #ffffff;
  font-size: larger;
}
.message {
  width: fit-content;
  margin: 20px auto;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 4px;
  font-size: large;
  font-weight: bold;
  background-color: #c0c0c0;
}
